<div class="main">
  <div class="content">
    <div class="content_top">
      <%= render 'shared/content_top' %>    
    </div>
    <div class="content_bottom">
      <div class="wrap">

        <%= render 'shared/content_bottom_left'%>
        <!-- Content bottom right -->
        <div class="content-bottom-right">
          <h3>КАТАЛОГ <span>::</span> <%= @group_title %> <span>::</span> <%= @catalog_title %></h3>

          <!-- Section -->
          <div class="section group">
            <% count=0;@products.each do |product|%>
            <%= count>=4? (count=0;'</div><div class="section group">'.html_safe) : (count+=1;'') %>
            <div class="grid_1_of_4 images_1_of_4">
              <h4><%= link_to product.title, product%></h4>
              <a href="/product/<%=product.id%>"><%= image_tag product.image.url, alt: product.title if product.image_stored? %></a>
              <div class="price-details">
                <div class="price-number">
                  <p><span class="rupees"><%=product.price_new%> <i class="fa fa-rub" aria-hidden="true"></i> </span></p>
                </div>
                <div class="add-cart">                
                  <h4><%= link_to 'Подробнее', product%></h4>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <%end%>
          </div><!-- // Section -->
        </div><!-- // Content bottom right -->

        <% if @page.description %>
        <div class="content-bottom-right padtop30">
          <h3><%= @page.name %> <span>::</span> <%= @page.title %><%= " <span>::</span> #{@page.head}".html_safe if @page.respond_to? :head %></h3>
          <div class="row product-articles">
              <div class='col-sm-12 col-md-12 col-lg-12 article'>
                <%= @page.description.html_safe %>
              </div>
            </div>
          </div>
          <div class="col-md-3"></div>
          </div>
        </div><!-- // Content bottom right -->
        <div class="clear"></div>
        <%end%>

      </div>
    </div>
  </div>
</div>